<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/resources/styles/main_out.css" />
	<title>Dentist Clinic</title>
</head>
<body class="h-screen w-screen overflow-hidden bg-slate-100">
{#<div class="flex flex-row">#}
{#	<div class="w-[380px] shadow-lg p-5 h-screen bg-white">#}
{#		<h1 class="text-indigo-500 font-bold text-2xl mb-5">Dentist Clinic</h1>#}
{#		<a href="/dashboard" class="font-medium text-gray-500 block hover:text-indigo-500 transition-colors duration-200">Dashboard</a>#}
{#	</div>#}
{#	<div class="w-[100%] p-5 h-screen overflow-auto">#}
{#		{% include 'auth/navbar.twig' %}#}
{#		{% block content %}{% endblock %}#}
{#	</div>#}
{#</div>#}

<div class="p-5">
	{% include 'auth/navbar.twig' %}
	{% block content %}{% endblock %}
</div>
</body>
</html>