{% extends "auth/layout.twig" %}
{% block content %}
	{% include 'dashboard/components/cards.twig' %}
	{% if is_('admin') %}
		<form action="" method="get">
			<div class="flex gap-5 mt-5">
				<label class="w-full">
					<input class="form-input" name="search" placeholder="Search for a user by name, email or role">
				</label>
				<button class="button-primary">Search</button>
			</div>
		</form>
		{% include 'dashboard/components/table.twig' %}
	{% endif %}
{% endblock %}